<h4 class="heading"><a href="{{ config.base_path }}/about-me">About</a></h4>

<a href="{{ config.base_path }}/about-me"><img src="{{urls.media}}/images/common/aman-king-sidebar.jpg" class="face"></a>

<p class="about"><b><a href="http://www.thoughtworks.com/about-us">thoughtworker</a></b>, developer, lead, coach, trainer, speaker, writer, thinker. <b>java</b>, ruby, javascript, web, cloud. <b>agile</b>, xp, scrum, cd. <b><a href="http://www.linkedin.com/in/{{data.author.linkedin}}">linkedin</a></b>, <a href="http://bitbucket.org/{{data.author.bitbucket}}">bitbucket</a>, <a href="http://github.com/{{data.author.github}}">github</a>, <a href="http://www.slideshare.net/{{data.author.slideshare}}">slideshare</a>.</p>
