<h4 class="heading"><a href="{{ config.base_path }}/about-me">About</a></h4>

<img src="{{urls.media}}/images/common/aman-king-sidebar.png" class="face">

<p class="about"><b><a href="http://join.thoughtworks.com/profiles/aman-king">thoughtworker</a></b>, developer, lead, coach, trainer, speaker, writer, thinker. <b>java</b>, ruby, javascript, web, cloud. <b>agile</b>, xp, scrum. <b><a href="http://www.linkedin.com/in/amanking">linkedin</a></b>, <a href="http://bitbucket.org/amanking">bitbucket</a>, <a href="http://github.com/amanking">github</a>, <a href="http://www.slideshare.net/amanking">slideshare</a></p>
