<h4 class="heading"><a href="{{ config.base_path }}/about-me">About</a></h4>

<img src="{{urls.media}}/images/common/aman-king-sidebar.png" class="face">

<p class="about"><a href="http://join.thoughtworks.com/profiles/aman-king">thoughtworker</a>, developer, lead, coach, trainer, speaker, writer, thinker. java, javascript, ruby, web, cloud. agile, xp, scrum. <a href="http://www.linkedin.com/in/amanking">linkedin</a>, <a href="http://bitbucket.org/amanking">bitbucket</a>, <a href="http://github.com/amanking">github</a>, <a href="http://www.slideshare.net/amanking">slideshare</a></p>
