<h4 class="heading">Upcoming Talks</h4>

<a href="http://2014.agileindia.org/" target="_blank" title="I am speaking at Agile India 2014"><img src="{{urls.media}}/images/badges/speaker-agile-india-2014.png" class="speaker-badge" title="I am speaking at Agile India 2014" alt="I am speaking at Agile India 2014"/></a>

<a href="http://bit.ly/gcrc-2014" target="_blank" title="I am speaking at the Garden City RubyConf 2014"><img src="{{urls.media}}/images/badges/speaker-garden-city-ruby-2014.png" class="speaker-badge" title="I am speaking at the Garden City RubyConf 2014" alt="I am speaking at the Garden City RubyConf 2014"/></a>