---
layout : default
---

{{# collection.paginator }}
  <div class="post summary">
    <div class="text">
      <h1 class="title"><a href="{{url}}">{{title}}</a></h1>
      <div class="date muted">{{date}}</div>

      <div class="content">
        {{{ summary }}}
      </div>
    </div>
    <div class="controls clearfix">
      <ul class="tag_box inline">
        <li><i class="icon-tags"></i></li>
        {{# tags }}
          {{> tags_list }}
        {{/ tags }}
      </ul>
      <div class="more">
        <small><a href="{{url}}" class="muted">Read more</a></small> | <small><a href="{{url}}#disqus_thread" class="muted">Comments</a></small>
      </div>
    </div>
  </div>
{{/ collection.paginator }}

<div class="pagination">
  <ul>
  {{#collection.paginator_navigation}}
    {{#is_active_page}}
      <li class="active"><a href="{{url}}">{{name}}</a></li>
    {{/is_active_page}}
    {{^is_active_page}}
      <li><a href="{{url}}">{{name}}</a></li>
    {{/is_active_page}}
  {{/collection.paginator_navigation}}
  </ul>
</div>
